<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<link href="bootstrap.min.css" rel="stylesheet">-->
    <!--<script src="js/jquery-1.12.3.min.js"></script>-->
    <!--<script src="bootstrap.min.js"></script>-->
    <!--<script src="js/jquery-ui.min.js"></script>-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/jquery-ui.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!--PQ Grid files-->
    <link rel="stylesheet" href="/css/pqgrid.min.css" />
    <script src="/js/pqgrid.min.js"></script>
    <!--PQ Grid Office theme-->
    <link rel="stylesheet" href="/themes/office/pqgrid.css" />
    <script src="/js/bootstrap.min.js"></script>
    <style>
        *{
            padding:0px;
            margin:0px;
        }
        img{
            width: 100%;
            height: 100%;
            margin-top: -50px;
        }
    </style>
</head>
<body style="background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1535543889270&di=d06bfb1495b8941b952a3d716c591b50&imgtype=0&src=http%3A%2F%2Fimg.pconline.com.cn%2Fimages%2Fupload%2Fupc%2Ftx%2Fwallpaper%2F1212%2F04%2Fc1%2F16339096_1354611995113.jpg);background-size: cover;background-position: bottom">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">系统操作</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/customer">客户查询</a></li>
                <li><a href="/rent">租赁登记</a></li>
                <li><a href="/returns">归还登记</a></li>
                <li><a href="/statistics">统计分析</a></li>
                <li><a href="/class">类别档案</a></li>
                <li><a href="/car">汽车档案</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/del">退出系统</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 style="color: dodgerblue;font-family: KaiTi ;font-weight: bold">租车系统</h1>
</div>
<script>

</script>
</body>
</html>
